<div class="uhg-route-designate">
    <!--'OWNER' TEMPLATE-->
    <!--
    | Role-specific templates could also be separated using ng-include.
    | Using ng-include may provide better readibility in terms of directory
    | organization.
    -->
    <div ng-if="(designateCtrl.user.role === 'owner')">
        <!--SEARCH-->
        <uhg-grouping-search></uhg-grouping-search>

        <!--PANEL-->
        <div class="panel panel-default uhg-page">

            <!--BODY-->
            <div class="panel-body uhg-page-body">
                <h3 class="uhg-page-body-title">{{ 'DESIGNATE_ADMINS_HEADER' | localize }}</h3>
                <div class="table-responsive">
                    <table ng-if="!designateCtrl.uiState.isLoadingAdmins" class="table table-bordered table-hover striped-rows uhg-table-designate">
                        <thead>
                            <tr>
                                <th>
                                    <a ng-href="#" ng-click="designateCtrl.changeSort('firstName')">
                                        <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'DESIGNATE_ADMINS_TABLE_FIRST_NAME' | localize }}</span>
                                        <span>{{ 'DESIGNATE_ADMINS_TABLE_FIRST_NAME' | localize }}</span>
                                        <i class="fa" role="presentation" ng-class="{'fa-caret-up': designateCtrl.sortField === '+firstName', 'fa-caret-down': designateCtrl.sortField === '-firstName'}">
                                            <span class="sr-only">{{ 'ICON_SORT_BY_A11Y' | localize }}</span>
                                        </i>
                                    </a>
                                </th>
                                <th>
                                    <a ng-href="#" ng-click="designateCtrl.changeSort('lastName')">
                                        <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'DESIGNATE_ADMINS_TABLE_LAST_NAME' | localize }}</span>
                                        <span>{{ 'DESIGNATE_ADMINS_TABLE_LAST_NAME' | localize }}</span>
                                    </a>
                                    <i class="fa" role="presentation" ng-class="{'fa-caret-up': designateCtrl.sortField === '+lastName', 'fa-caret-down': designateCtrl.sortField === '-lastName'}">
                                        <span class="sr-only">{{ 'ICON_SORT_BY_A11Y' | localize }}</span>
                                    </i>
                                </th>
                                <th>
                                    <a ng-href="#" ng-click="designateCtrl.changeSort('email')">
                                        <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'DESIGNATE_ADMINS_TABLE_EMAIL' | localize }}</span>
                                        <span>{{ 'DESIGNATE_ADMINS_TABLE_EMAIL' | localize }}</span>
                                    </a>
                                    <i class="fa" role="presentation" ng-class="{'fa-caret-up': designateCtrl.sortField === '+email', 'fa-caret-down': designateCtrl.sortField === '-email'}">
                                        <span class="sr-only">{{ 'ICON_SORT_BY_A11Y' | localize }}</span>
                                    </i>
                                </th>
                                <th>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="designateCtrl.admins.length > 0" ng-repeat="admin in designateCtrl.admins | orderBy:designateCtrl.sortField">
                                <td>
                                    <span class="uhg-first-name">{{ admin.firstName }}</span>
                                </td>
                                <td><span>{{ admin.lastName }}</span></td>
                                <td><span>{{ admin.email }}</span></td>
                                <td>
                                    <a ng-href="#" class="uhg-remove-admin" ng-click="designateCtrl.removeAdmin(admin)" ng-keydown="designateCtrl.removeAdminOnKeyDown($event, admin)">
                                        <i class="fa fa-minus-circle text-danger" role="presentation">
                                            <span class="sr-only">{{ 'DESIGNATE_ADMINS_TABLE_REMOVE_ADMIN' | localize }}</span>
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-if="designateCtrl.admins.length == 0" class="zero-state">
                                <td colspan="3">{{ 'DESIGNATE_ADMINS_TABLE_ZERO_STATE' | localize }}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <!--TABLE LOADER-->
                    <div class="uhg-loader" ng-if="designateCtrl.uiState.isLoadingAdmins">
                        <i class="fa fa-spinner fa-spin fa-3x" role="presentation">
                            <span class="sr-only">{{ 'DESIGNATE_ADMINS_LOADING_A11Y' | localize }}</span>
                        </i>
                    </div>
                </div>

                <h3 class="uhg-page-body-title">{{ 'DESIGNATE_ADMINS_ADD' | localize }}</h3>
                <div class="uhg-user-search">
                    <label for="userSearchPhrase" class="sr-only">{{ 'GROUPING_SEARCH_LABEL' | localize }}</label>
                    <input type="text" id="userSearchPhrase" name="userSearchPhrase"
                        ng-model="designateCtrl.userSearchPhrase" ng-change="designateCtrl.onChange()"
                        placeholder="{{ 'DESIGNATE_ADMINS_SEARCH_PLACEHOLDER' | localize }}">
                </div>
                <table ng-if="designateCtrl.users.length > 0" class="table table-bordered table-hover striped-rows uhg-table-designate">
                    <thead>
                        <tr>
                            <th>{{ 'DESIGNATE_ADMINS_TABLE_FIRST_NAME' | localize }}</th>
                            <th>{{ 'DESIGNATE_ADMINS_TABLE_LAST_NAME' | localize }}</th>
                            <th>{{ 'DESIGNATE_ADMINS_TABLE_EMAIL' | localize }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in designateCtrl.users">
                            <td>
                                <span class="uhg-first-name">{{ user.firstName }}</span>
                            </td>
                            <td><span>{{ user.lastName }}</span></td>
                            <td><span>{{ user.email }}</span></td>
                            <td>
                                <a ng-href="#" class="uhg-add-admin" ng-click="designateCtrl.addAdmin(user)" ng-keydown="designateCtrl.addAdminOnKeyDown($event, user)">
                                    <i class="fa fa-plus-circle text-success" role="presentation">
                                        <span class="sr-only">{{ 'DESIGNATE_ADMINS_TABLE_ADD_ADMIN' | localize }}</span>
                                    </i>
                                </a>
                            </td>
                        </tr>
                        <!--<tr ng-if="designateCtrl.users.length == 0" class="zero-state">
                            <td colspan="3">{{ 'DESIGNATE_ADMINS_TABLE_ZERO_STATE' | localize }}</td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>